<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.b8games.beatpug">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/MyTheme">
        <activity
            android:name="com.b8games.beatpug.activities.LaunchScreenActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity
            android:name="com.b8games.beatpug.activities.klipler"

            android:label="Klipler">
    </activity>
        <activity
            android:name="com.b8games.beatpug.activities.MainActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name" />
        <activity
            android:name="com.b8games.beatpug.activities.ToolbarOverlayActivity"
            android:label="@string/title_activity_toolbar_test"/>
        <activity
            android:name="com.b8games.beatpug.activities.videoizle"
            android:label="@string/title_activity_toolbar_test" />
        <activity
            android:name="com.b8games.beatpug.activities.NavDrawerActivity"
            android:label="@string/title_activity_nav_drawer"
            android:theme="@style/MyTheme.Detail" />
        <activity
            android:name="com.b8games.beatpug.activities.AnimateToolbar"
            android:configChanges="orientation|screenSize"
            android:theme="@style/MyTheme.Detail" />
        <activity
            android:name="com.b8games.beatpug.activities.TabAnimationActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_tab_animation"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.b8games.beatpug.activities.NestedToolbarActivity"
            android:label="@string/title_activity_nested_toolbar" />
        <activity
            android:name="com.b8games.beatpug.activities.QuickReturnActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_quick_return" />
        <activity
            android:name="com.b8games.beatpug.activities.RevealAnimation"
            android:label="@string/title_activity_reveal_animation" />
        <activity
            android:name="com.b8games.beatpug.activities.GmailStyleActivity"
            android:label="@string/title_activity_gmail_style" />
        <activity
            android:name="com.b8games.beatpug.activities.TabsHeaderActivity"
            android:label="@string/title_activity_tabs_header"
            android:theme="@style/MyTheme.Detail" />
        <activity
            android:name="com.b8games.beatpug.activities.PagerActivity"
            android:theme="@style/MyTheme.Detail" />
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="44310b5c32745763d69ee97417d970a11fb7a7ed" />ed" />
        <service android:name=".service.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <service android:name=".service.MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
    </application>

</manifest>
